@import "./../assets/styles/variables.module.scss";

.root {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 100vh;
  .box {
    width: 50%;
    text-align: center;
  }
  .error {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 50%;
    justify-content: center;
    background: $ligthenGrey-color;
    color: $black-color;
    font-size: 200px;
    line-height: 1;
  }
  .description {
    font-size: 30px;
    margin: 25px 0px 10px 0px;
  }
}
