@import "../../assets/styles/variables.scss";

.dropMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-width: 180px;
  background-color: $ligthenGrey-color;
  padding: 8px;
  border-radius: 100px;
}
.name {
  font-weight: 500;
  font-size: $fontSize-small;
  color: $black-color;
  text-transform: none;
}
.menu {
  ul {
    padding: 10px;
  }
  li {
    font-family: inherit;
    justify-content: center;
    font-size: $fontSize-small;
    color: $black-color;
    text-align: right;
  }
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
