@import "./../assets/styles/variables.scss";

.root {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 70px;
    width: 100%;
    font-size: $fontSize-tiny;
    font-weight: 500;
    text-transform: uppercase;
    ul {
      display: flex;
    }
    li a {
      color: #b4b4b4;
    }
    li + li {
      margin-left: 25px;
      color: red;
    }
    a {
      transition: 0.3s ease-in;
      &:hover {
        color: #fff;
      }
    }
  }
}

header {
  background-color: #0f0f12;
}
