@import "./../assets/styles/variables.module.scss";

.header {
  background-color: #0f0f12;
  svg {
    max-width: 60px;
    max-height: 60px;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5px 0px;
    width: 100%;
    font-weight: 500;
    text-transform: uppercase;
    ul {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      margin-right: 25px;
    }
    li a {
      color: $grey-color;
    }
    li + li {
      margin-left: 25px;
    }
    a {
      transition: 0.2s ease-in;
      &:hover {
        color: #b4b4b4;
      }
    }
  }
}
