// UI
$background: #fff;
$hover: #343839;

// Colors
$black-color: #141416;
$white-color: #fff;
$grey-color: #989898;
$ligthenGrey-color: #cbcbcb;
$darkenGrey-color: #6d6d6d;
$grey: #e6e8ec;

// Variables
$fontSize-tiny: 14px;
$fontSize-small: 16px;
$fontSize-medium: 18px;
$fontSize-upperMedium: 25px;
$fontSize-large: 28px;
$fontSize-extraLarge: 35px;
$fontSize-huge: 48px;

$borderRadius-tiny: 8px;
$borderRadius-small: 12px;
$borderRadius-medium: 16px;
$borderRadius-large: 25px;

// SimpleBtn
$simpleBtn-bg: $background;
$simpleBtn-color: $black-color;
$simpleBtn-fontSize: $fontSize-medium;
