$background:#fff;
$color:#141416;
$grey-color:#CFCFD3;
$darkGrey-color:#6D6D6D;


$fontSize-tiny:14px;
$fontSize-small:16px;
$fontSize-medium:18px;
$fontSize-upperMedium:25px;
$fontSize-large:28px;
$fontSize-extraLarge:35px;
$fontSize-huge:48px;

$borderRadius-tiny:8px;
$borderRadius-small:12px;
$borderRadius-medium:16px;
$borderRadius-large:25px;

// SimpleBtn
$simpleBtn-bg:$color;
$simpleBtn-color:$background;
$simpleBtn-fontSize:$fontSize-medium;