@import "../../assets/styles/variables.scss";

.btn {
  display: block;
  width: 100%;
  max-width: 378px;
  padding: 24px 5px;
  margin-top: 35px;

  color: $simpleBtn-color;
  border-radius: $borderRadius-medium;
  border: 2px solid $simpleBtn-color;

  font-size: $simpleBtn-fontSize;
  text-transform: uppercase;
  text-align: center;

  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all 1s;

  span {
    position: absolute;
    width: 30%;
    height: 100%;
    background-color: $simpleBtn-color;
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 30%);
    transition: all 0.45s;
    transition-delay: calc((var(--n) - 1) * 0.15s);
    z-index: -1;
  }
}
.btn:hover {
  color: $simpleBtn-bg;
  span {
    transform: translateY(0) scale(2);
  }
}
span:nth-child(1) {
  --n: 1;
}
span:nth-child(2) {
  --n: 2;
}
span:nth-child(3) {
  --n: 3;
}
span:nth-child(4) {
  --n: 4;
}
