@import "../../components/assets/styles/variables.module.scss";
@import "../../components/assets/styles/_global.module.scss";

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap");
.visitWrap {
  height: 100vh;
  overflow-y: hidden;
  display: flex;
  justify-content: space-between;
  margin-left: -20px;
}
.visitRegistr {
  padding: 48px;
  height: 100%;
  width: 60%;
  background-color: $white-color;
  background-image: url(/visitPage/Bold.svg);
  background-size: 65vw;
  background-repeat: no-repeat;
  background-position: center;
}
.visitFormWrap {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.visitForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.title {
  font-weight: 600;
  font-size: $fontSize-huge;
  margin-bottom: 15px;
  text-align: center;
  color: $black-color;
}
.subtitle {
  font-size: 22px;
  font-weight: 500;
  color: $darkenGrey-color;
  text-align: center;
  max-width: 580px;
}
.visitDescr {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $black-color;
  color: $background;
  width: 40%;
}
.sliderSlider {
  display: flex;
  justify-content: center;
  max-width: 100%;
  margin-bottom: 60px;
}
.sliderSlide * {
  text-align: center;
}
.slideTextWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.descrTitle {
  display: inline-block;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: $fontSize-huge;
  text-align: center;
  margin-bottom: 15px;
  max-width: 400px;
}
.descrSubtitle {
  font-size: $fontSize-medium;
  color: $darkenGrey-color;
  text-align: center;
  max-width: 470px;
}
.sliderButtons {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
  button {
    background-color: $background;
    padding: 24px 32px;
    transition: 0.3s ease-in-out;
    &:hover {
      opacity: 90%;
    }
  }
}

.next {
  border-radius: 0px 20px 20px 0px !important;
}

.prev {
  border-radius: 20px 0px 0px 20px !important;
}

.sliderButtons::after {
  content: "";
  width: 2px;
  height: 30px;
  border-radius: 50%;
  background-color: $ligthenGrey-color;
  position: absolute;
  left: 92px;
}
